In [29]:
import numpy as np
import pandas as pd

In [58]:
df= pd.read_csv('sexismo.csv', encoding='latin-1')
df.head()

                                               Texto  Categoria
0                              Los hombres no lloran          2
1                   Estoy enamorado de cuatro babies          3
2                                      Lo mueve rico          3
3  Ya no sé que hacer No sé con cuál quedarme Tod...          3
4  Dos son casadas hay una soltera La otra medio ...          3

In [59]:
df.shape

(11, 2)

In [61]:
df['Categoria'].value_counts()

3    10
2     1
Name: Categoria, dtype: int64

In [62]:
import nltk

#dividir la oración en palabras
from nltk import word_tokenize

data = "Facebook es una herramienta de comunicación muy bueno. Todo esto es gracias al esfuerzo de todos."
print(word_tokenize(data))

['Facebook', 'es', 'una', 'herramienta', 'de', 'comunicación', 'muy', 'bueno', '.', 'Todo', 'esto', 'es', 'gracias', 'al', 'esfuerzo', 'de', 'todos', '.']

In [63]:
#Se realia el procesamiento de lenguaje natural
# y se borra palabras innecesarias como a, es, un,
from nltk.corpus import stopwords

stopWords= set(stopwords.words('spanish'))
print(stopWords)

{'estuviesen', 'uno', 'que', 'este', 'otra', 'nuestros', 'su', 'hasta', 'hubierais', 'hubieses', 'seré', 'de', 'antes', 'fueron', 'estad', 'fueran', 'ti', 'fuésemos', 'el', 'fuiste', 'soy', 'estaréis', 'habido', 'habidos', 'he', 'está', 'nosotros', 'estábamos', 'habrá', 'estadas', 'del', 'tenidas', 'tendrías', 'le', 'teniendo', 'ha', 'tuyas', 'estuviste', 'seamos', 'seremos', 'esa', 'tendrían', 'suyos', 'tendrá', 'sentida', 'habíamos', 'tuvieseis', 'han', 'al', 'fuisteis', 'esta', 'tenía', 'cual', 'no', 'estados', 'tuyo', 'tuvieron', 'habida', 'por', 'hubieras', 'todo', 'tengas', 'erais', 'quien', 'te', 'estuvieran', 'hube', 'tuvimos', 'os', 'ellos', 'vosotros', 'hayamos', 'serás', 'hubieron', 'sentidos', 'tuvisteis', 'hemos', 'esos', 'la', 'tuya', 'hubiera', 'tendrán', 'sería', 'tuvierais', 'también', 'eres', 'hubiste', 'estarás', 'otro', 'nuestra', 'serías', 'estuvisteis', 'más', 'tened', 'a', 'habrían', 'él', 'todos', 'estaban', 'tengo', 'habrías', 'estaba', 'habré', 'unos', 'estado', 'sobre', 'fuerais', 'tendría', 'teníais', 'habríamos', 'los', 'mí', 'tenidos', 'sentidas', 'sois', 'fue', 'habréis', 'tuviesen', 'fuera', 'tus', 'entre', 'fuese', 'estemos', 'vuestra', 'tendrás', 'habías', 'era', 'estés', 'fui', 'cuando', 'o', 'mis', 'es', 'serán', 'pero', 'teníamos', 'tenéis', 'tuviese', 'estas', 'estáis', 'ese', 'míos', 'hayas', 'estuvieras', 'algo', 'tuve', 'seríais', 'esté', 'algunas', 'nosotras', 'eran', 'sin', 'estoy', 'tenido', 'serían', 'tuviéramos', 'una', 'tuvieras', 'fueseis', 'mía', 'ya', 'estaré', 'suya', 'tuyos', 'mío', 'las', 'tú', 'eso', 'estuvo', 'muchos', 'estaríais', 'estuve', 'vuestros', 'nada', 'tengan', 'estéis', 'ellas', 'suyo', 'sintiendo', 'estaremos', 'donde', 'habían', 'seas', 'muy', 'habíais', 'tuvieran', 'fuesen', 'tendréis', 'habrás', 'tuviera', 'tanto', 'habremos', 'tuvieses', 'estuviéramos', 'están', 'qué', 'otras', 'hayáis', 'y', 'estará', 'estar', 'sea', 'estás', 'tendremos', 'mías', 'ante', 'nuestras', 'siente', 'estando', 'hayan', 'hubiéramos', 'estuvieron', 'vuestras', 'tengamos', 'nos', 'hubieran', 'en', 'estabas', 'tenga', 'les', 'estos', 'habrán', 'tendré', 'estuvimos', 'me', 'algunos', 'estaría', 'fueras', 'has', 'hubisteis', 'estuviera', 'tengáis', 'estamos', 'quienes', 'hubiese', 'fuimos', 'éramos', 'desde', 'seáis', 'tenían', 'estabais', 'contra', 'para', 'seríamos', 'estuviésemos', 'habría', 'mi', 'tenida', 'tendríamos', 'tienen', 'tendríais', 'sí', 'son', 'sean', 'tenemos', 'mucho', 'habéis', 'hubiésemos', 'tiene', 'como', 'vuestro', 'será', 'tuvo', 'tienes', 'seréis', 'haya', 'fueses', 'otros', 'estuvieses', 'hubieseis', 'estuviese', 'esto', 'con', 'eras', 'yo', 'durante', 'ella', 'fuéramos', 'tuviste', 'tenías', 'poco', 'un', 'se', 'suyas', 'habríais', 'hubimos', 'somos', 'tuviésemos', 'lo', 'estarías', 'ni', 'hay', 'estuvierais', 'estarían', 'sus', 'estén', 'e', 'esas', 'porque', 'estada', 'tu', 'hubo', 'habiendo', 'sentido', 'estaríamos', 'estarán', 'habidas', 'hubiesen', 'había', 'estuvieseis', 'sentid', 'vosotras', 'nuestro'}

In [64]:
#el modulo string nos permite eliminar signos de puntuacion 
import string 
data = "Facebook es una tecnología,Facebook es genial !."
data_1=[char for char in data if char not in string.punctuation]
print(data_1)

['F', 'a', 'c', 'e', 'b', 'o', 'o', 'k', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 't', 'e', 'c', 'n', 'o', 'l', 'o', 'g', 'í', 'a', 'F', 'a', 'c', 'e', 'b', 'o', 'o', 'k', ' ', 'e', 's', ' ', 'g', 'e', 'n', 'i', 'a', 'l', ' ']

In [65]:
#aqui formulamos de nuevo la horacion sin los signos de puntuación
data_1= ''.join(data_1)
print(data_1)

Facebook es una tecnologíaFacebook es genial

In [66]:
data_1=data_1.split()
print(data_1)

['Facebook', 'es', 'una', 'tecnologíaFacebook', 'es', 'genial']

In [67]:
#vectorizador de conteo
from sklearn.feature_extraction.text import CountVectorizer
data_1 = ["Facebook es una tecnología Facebook es genial"]

vectorizer = CountVectorizer()

vectorizer.fit(data_1)

print(vectorizer.vocabulary_)

{'facebook': 1, 'es': 0, 'una': 4, 'tecnología': 3, 'genial': 2}

In [68]:
#la columna de la izquierda indica el numero de fila de la oracion, en este caso solo tenemos una fila por lo
#equivale a 0, la siguiente columna el valor asignado a la palabra, y la ultima es las veces que se repite
#la palabra
"""encode document"""
vector = vectorizer.transform(data_1)
print(vector)

  (0, 0)	2
  (0, 1)	2
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1

In [69]:
def text_cleaning(a):
  remove_punctuation = [char for char in a if char not in string.punctuation]
  remove_punctuation = ''.join(remove_punctuation)
  return [word for word in remove_punctuation.split() if word.lower() not in stopwords.words('spanish')]

In [70]:
df.head()

                                               Texto  Categoria
0                              Los hombres no lloran          2
1                   Estoy enamorado de cuatro babies          3
2                                      Lo mueve rico          3
3  Ya no sé que hacer No sé con cuál quedarme Tod...          3
4  Dos son casadas hay una soltera La otra medio ...          3

In [47]:
print(df.iloc[:,0].apply(text_cleaning))

0                                     [hombres, lloran]
1                           [enamorado, cuatro, babies]
2                                         [mueve, rico]
3     [sé, hacer, sé, cuál, quedarme, Todas, saben, ...
4     [Dos, casadas, soltera, medio, psycho, si, lla...
5     [primera, desespera, encojona, si, echo, afuer...
6     [pelirroja, chichando, moja, encojona, llame, ...
7     [enamorado, cuatro, babys, Siempre, dan, quier...
8     [Cuatro, chimbitas, Cuatro, personalidades, Do...
9     [Quieren, lleve, pa, Medallo, Quieren, monte, ...
10    [Prende, phillie, bebé, mismo, apaga, Vamos, c...
Name: Texto, dtype: object

In [71]:
y=df.Categoria

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=text_cleaning).fit(df['Texto'])

bow_transformer.vocabulary_

{'hombres': 53,
 'lloran': 61,
 'enamorado': 47,
 'cuatro': 37,
 'babies': 19,
 'mueve': 68,
 'rico': 85,
 'sé': 92,
 'hacer': 52,
 'cuál': 38,
 'quedarme': 80,
 'Todas': 13,
 'saben': 87,
 'cama': 25,
 'maltratarme': 63,
 'Dos': 4,
 'casadas': 27,
 'soltera': 91,
 'medio': 64,
 'psycho': 79,
 'si': 89,
 'llamo': 59,
 'desespera': 40,
 'primera': 78,
 'encojona': 48,
 'echo': 46,
 'afueraLa': 15,
 'segunda': 88,
 'funda': 50,
 'paga': 72,
 'pa': 71,
 'hunda': 54,
 'tercera': 93,
 'quita': 83,
 'estrés': 49,
 'Polvos': 9,
 'corridos': 33,
 'siempre': 90,
 'echamos': 45,
 'tres': 95,
 'pelirroja': 73,
 'chichando': 28,
 'moja': 66,
 'llame': 58,
 'coja': 32,
 'Peleamos': 8,
 'bota': 24,
 'ropa': 86,
 'llamar': 57,
 'cotorra': 35,
 'recoja': 84,
 'chiquitita': 31,
 'nalgona': 70,
 'pelo': 74,
 'corto': 34,
 'babys': 20,
 'Siempre': 12,
 'dan': 39,
 'quiero': 82,
 'Chingan': 0,
 'digo': 42,
 'Ninguna': 7,
 'pone': 77,
 'Cuatro': 1,
 'chimbitas': 29,
 'personalidades': 75,
 'hablan': 51,
 'bonito': 23,
 'dicen': 41,
 'maldades': 62,
 'Diferentes': 2,
 'nacionalidades': 69,
 'chingan': 30,
 'Gritan': 5,
 'todas': 94,
 'iguales': 55,
 'Quieren': 11,
 'lleve': 60,
 'Medallo': 6,
 'monte': 67,
 'carro': 26,
 'año': 18,
 'apriete': 17,
 'dos': 43,
 'dé': 44,
 'juntas': 56,
 'baño': 21,
 'Digan': 3,
 'quieren': 81,
 'Prende': 10,
 'phillie': 76,
 'bebé': 22,
 'mismo': 65,
 'apaga': 16,
 'Vamos': 14,
 'cuarto': 36}

In [72]:
X= bow_transformer

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test,y_train, y_test = train_test_split(X, y, random_state=42)

TypeError: Singleton array array(CountVectorizer(analyzer=<function text_cleaning at 0x000002A1E96E88B0>),
      dtype=object) cannot be considered a valid collection.

In [50]:

title_bow = bow_transformer.transform(df['Texto'])

print(title_bow)

  (0, 53)	1
  (0, 61)	1
  (1, 19)	1
  (1, 37)	1
  (1, 47)	1
  (2, 68)	1
  (2, 85)	1
  (3, 13)	1
  (3, 25)	1
  (3, 38)	1
  (3, 52)	1
  (3, 63)	1
  (3, 80)	1
  (3, 87)	1
  (3, 92)	2
  (4, 4)	1
  (4, 27)	1
  (4, 40)	1
  (4, 59)	1
  (4, 64)	1
  (4, 79)	1
  (4, 89)	1
  (4, 91)	1
  (5, 9)	1
  (5, 15)	1
  :	:
  (8, 75)	1
  (8, 94)	1
  (9, 3)	1
  (9, 6)	1
  (9, 11)	2
  (9, 17)	1
  (9, 18)	1
  (9, 21)	1
  (9, 26)	1
  (9, 32)	1
  (9, 43)	1
  (9, 44)	1
  (9, 52)	1
  (9, 56)	1
  (9, 60)	1
  (9, 67)	1
  (9, 71)	1
  (9, 81)	1
  (10, 10)	1
  (10, 14)	1
  (10, 16)	1
  (10, 22)	1
  (10, 36)	1
  (10, 65)	1
  (10, 76)	1

In [53]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer().fit(title_bow)
print(tfidf_transformer)

title_tfidf=tfidf_transformer.transform(title_bow)
print(title_tfidf)
print(title_tfidf.shape)

TfidfTransformer()
  (0, 61)	0.7071067811865476
  (0, 53)	0.7071067811865476
  (1, 47)	0.5448398854754147
  (1, 37)	0.5448398854754147
  (1, 19)	0.6374158755398818
  (2, 85)	0.7071067811865476
  (2, 68)	0.7071067811865476
  (3, 92)	0.6105448490317061
  (3, 87)	0.30527242451585307
  (3, 80)	0.30527242451585307
  (3, 63)	0.30527242451585307
  (3, 52)	0.26093575512399203
  (3, 38)	0.30527242451585307
  (3, 25)	0.30527242451585307
  (3, 13)	0.30527242451585307
  (4, 91)	0.37288877911826523
  (4, 89)	0.31873175348478006
  (4, 79)	0.37288877911826523
  (4, 64)	0.37288877911826523
  (4, 59)	0.37288877911826523
  (4, 40)	0.31873175348478006
  (4, 27)	0.37288877911826523
  (4, 4)	0.31873175348478006
  (5, 95)	0.2373099407558509
  (5, 93)	0.2373099407558509
  :	:
  (8, 2)	0.22988515942758447
  (8, 1)	0.45977031885516895
  (9, 81)	0.23553012693103106
  (9, 71)	0.1770519359483702
  (9, 67)	0.23553012693103106
  (9, 60)	0.23553012693103106
  (9, 56)	0.23553012693103106
  (9, 52)	0.2013225780961644
  (9, 44)	0.23553012693103106
  (9, 43)	0.23553012693103106
  (9, 32)	0.2013225780961644
  (9, 26)	0.23553012693103106
  (9, 21)	0.23553012693103106
  (9, 18)	0.23553012693103106
  (9, 17)	0.23553012693103106
  (9, 11)	0.47106025386206213
  (9, 6)	0.23553012693103106
  (9, 3)	0.23553012693103106
  (10, 76)	0.37796447300922725
  (10, 65)	0.37796447300922725
  (10, 36)	0.37796447300922725
  (10, 22)	0.37796447300922725
  (10, 16)	0.37796447300922725
  (10, 14)	0.37796447300922725
  (10, 10)	0.37796447300922725
(11, 96)

In [54]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(title_tfidf,df['Categoría'])

In [55]:
all_predictions = model.predict(title_tfidf)
print(all_predictions)

['Sexismo de categoria C' 'Sexismo de categoria C'
 'Sexismo de categoria C' 'Sexismo de categoria C'
 'Sexismo de categoria C' 'Sexismo de categoria C'
 'Sexismo de categoria C' 'Sexismo de categoria C'
 'Sexismo de categoria C' 'Sexismo de categoria C'
 'Sexismo de categoria C']

In [1]:
from sklearn.metrics import confusion_matrix
confusion_matrix_report(df['Categoría'], all_predictions)
confusion_matrix(df['Categoría'], all_predictions)

NameError: name 'confusion_matrix_report' is not defined